<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Edit Show</h2>
    <form method="POST" action="/show/{{ show.show_id }}/update">
      <label for="show_name">Show Name</label>
      <input type="text" id="show_name" name="show_name" value="{{ show.show_name }}" required>
  
      <label for="show_rating">Show Rating</label>
      <input type="number" id="show_rating" name="show_rating" value="{{ show.show_rating }}" required>

    
      <label for="time">Start Time</label>
      <input type="time" id="start_time" name="start_time" value="{{ show.start_time }}" required>
    
      <label for="time">End Time</label>
      <input type="time" id="end_time" name="end_time" value="{{ show.end_time }}" required>
    
  
      <label for="show_genre">Show Genre</label>
      <input type="text" id="show_genre" name="show_genre" value="{{ show.show_genre }}" required>
  
      <label for="show_price">Show Price</label>
      <input type="number" id="show_price" name="show_price" value="{{ show.show_price }}" required>

      <label for="available_seats">Available Seats</label>
      <input type="number" id="available_seats" name="available_seats" value="{{ show.available_seats }}" required>
  
      
  
      <button type="submit">Save Changes</button>

      <br> <br>

      <label>Select Venue</label>
           <select name = "venue_id">
                {% for one in venues %}

                <option value="{{one['venue_id']}}"> {{one['venue_name']}} </option>

                {% endfor %}
           </select> <br> <br>


            <input type ="submit" value = "Add Show" />
    </form>


</body>
</html>