<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="my-5">Welcome to Ticket Booking App</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p class="text-center"><a href="/user_login" class="btn btn-primary btn-lg">User Login</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <p class="text-center"><a href="/admin/login" class="btn btn-secondary btn-lg">Admin Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>