<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% for show in shows %}
    <div>
       <h2>{{ show.show_name }}</h2>
       <p> Genre: {{show.show_genre}} </p>
       <p> Price: {{show.show_price}}</p>
       <p> Available seats:{{show.available_seats}}</p>
    </div>

</body>
</html>
       
    {% endfor %}
   
    <title>Document</title>
</head>
<body>
    
</body>
</html>