<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summery</title>
</head>
<body>
    <h1>Rating Chart</h1>
    <img src="{{ url_for('static', filename='rating_chart.jpg') }}" alt="Rating Chart">
    <br> <br>
    <h2>Available Seat Chart</h2>
    <img src="{{ url_for('static', filename='available_seats{show.show_id}.jpg') }}" alt="available_seats Chart">
    <br> <br>
    <h3>Venue Capacity Chart</h3>
    <img src="{{ url_for('static', filename='venue_capacity.jpg') }}" alt="Capacity Chart">
</body>
</html>